// 默认值
$accentColor = #000000
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$badgeTipColor = #000000
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

//强制覆盖 默认主题的 content
.theme-default-content:not(.custom) {
  max-width: 80% !important;
  margin: 0 auto;
  padding: 2rem 2.5rem;
}

.page-nav {
  max-width: 80%;
  margin: 0 auto;
  padding: 2rem 2.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}